project_id         = "YOUR_GCP_PROJECT_ID"
project_number     = "YOUR_GCP_PROJECT_NUMBER"
region             = "us-central1"
zone               = "us-central1-a"
environment        = "dev"

billing_account_id = "XXXXXX-XXXXXX-XXXXXX"
budget_alert_email = "you@example.com"

vpc_cidr           = "10.10.0.0/24"
vpc_connector_cidr = "10.10.1.0/28"


# Container images — set after building and pushing to Artifact Registry
chunker_image   = "us-central1-docker.pkg.dev/YOUR_GCP_PROJECT_ID/rag-docker/rag-chunker:v1"
query_api_image = "us-central1-docker.pkg.dev/YOUR_GCP_PROJECT_ID/rag-docker/rag-query-api:v1"
